<div class="w-full h-full rounded-xl shadow-md relative overflow-auto">
  <img
    class="rounded-xl object-fill h-full w-full"
    (click)="showActionBar = true"
    src="{{
      currentImageDisplayed
        ? currentImageDisplayed.imageUrl
        : 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRMFm8eXQHeAtAFkY2WBztX3RFB5ONe0RAT7g&usqp=CAU'
    }}"
    alt="lady"
  />

  <div
    class="absolute inset-0 flex flex-col items-start justify-end bg-gradient-to-t from-black/40 to-transparent rounded-xl text-white"
    *ngIf="currentImageDisplayed"
    (mouseenter)="slideShow = false"
    (mouseleave)="slideShow = true"
    (click)="showActionBar = !showActionBar"
    (swipeleft)="updateImageDislike(); $event.stopPropagation()"
    (swiperight)="updateImageLike(); $event.stopPropagation()"
  >
    <div class="p-3 w-full flex mb-72 items-center justify-between absolute">
      <button
        class="rounded-full px-4 py-2 hover:bg-gray-400 hover:bg-opacity-40 text-gray-300 transform active:scale-75 transition-transform"
        (click)="previousImage(); $event.stopPropagation()"
      >
        <i class="fa-solid fa-chevron-left text-2xl"></i>
      </button>
      <button
        class="rounded-full px-4 py-2 hover:bg-gray-400 hover:bg-opacity-40 text-gray-300 transform active:scale-75 transition-transform"
        (click)="nextImage(); $event.stopPropagation()"
      >
        <i class="fa-solid fa-chevron-right text-2xl"></i>
      </button>
    </div>
    <div class="mb-3 p-4 space-y-2 capitalize">
      <h3 class="text-xl font-semibold flex items-center space-x-2">
        <span>{{ currentImageDisplayed.name }}</span>
        <span
          class="text-base text-gray-300"
          *ngIf="currentImageDisplayed.numLikes > 0"
          >{{ currentImageDisplayed.numLikes }}
          <i class="fa-solid fa-heart text-red-500"></i
        ></span>
        <span
          class="text-base text-gray-300"
          *ngIf="currentImageDisplayed.numSuperLikes > 0"
          >{{ currentImageDisplayed.numSuperLikes }}
          <i class="fa-solid fa-star text-yellow-500"></i
        ></span>
      </h3>
      <p class="text-gray-300 text-lg normal-case">
        <i class="fa-solid fa-briefcase"></i>
        {{ currentImageDisplayed.description }}
      </p>
      <p class="text-gray-300 text-lg">
        <i class="fa-solid fa-location-dot"></i>
        {{ currentImageDisplayed.location }}
      </p>
    </div>

    <div
      class="mb-2 p-4 w-full flex items-center justify-center space-x-10"
      *ngIf="showActionBar"
    >
      <button
        class="rounded-xl px-3 py-2 bg-gray-100 text-red-500 hover:bg-red-500 hover:text-red-100 focus:bg-red-500 focus:text-red-100 transform active:scale-75 transition-transform"
        (click)="updateImageLike(); $event.stopPropagation()"
      >
        <i class="fa-solid fa-heart text-2xl"></i>
      </button>
      <button
        class="rounded-xl px-3 py-2 bg-gray-100 text-yellow-500 hover:bg-yellow-500 hover:text-yellow-100 focus:bg-yellow-500 focus:text-yellow-100 transform active:scale-75 transition-transform"
        (click)="updateImageSuperLike(); $event.stopPropagation()"
      >
        <i class="fa-solid fa-star text-2xl"></i>
      </button>
      <button
        class="rounded-xl px-3 py-2 bg-gray-100 text-blue-500 hover:bg-blue-500 hover:text-blue-100 focus:bg-blue-500 focus:text-blue-100 transform active:scale-75 transition-transform"
        (click)="updateImageDislike(); $event.stopPropagation()"
      >
        <i class="fa-solid fa-thumbs-down text-2xl"></i>
      </button>
    </div>
  </div>
</div>
